{% include "dashboard/templates/includes/head/session_worker_head.html" %}

{% set profile_page_id = "sessionWorkerProfilePage" %}
{% set profile_form_id = "sessionWorkerProfileForm" %}
{% set profile_message_id = "sessionWorkerProfileMessage" %}
{% set sidebar_template = "dashboard/templates/includes/sidebar/session_worker_sidebar.html" %}
{% set profile_display_name = profile_doc.sw_name or user_doc.full_name or "" %}
{% set profile_email = profile_doc.sw_email or user_doc.email or "" %}

{% include "dashboard/templates/includes/profile/profile_body.html" %}
