{% include "dashboard/templates/includes/head/session_worker_head.html" %}

<div class="dashboard-page">
  {% include "dashboard/templates/includes/sidebar/session_worker_sidebar.html" %}

  <div class="dashboard-main">
    {% include "dashboard/templates/includes/topbar/shared_topbar.html" %}

    <div class="dashboard-container">
      {% set base_url = dashboard_base_url or "/session_worker_db" %}

      {% include "dashboard/templates/includes/notifications/notifications_list_body.html" %}
    </div>
  </div>
</div>
