{% include "dashboard/templates/includes/head/coach_head.html" %}

{% set profile_page_id = "coachProfilePage" %}
{% set profile_form_id = "coachProfileForm" %}
{% set profile_message_id = "coachProfileMessage" %}
{% set sidebar_template = "dashboard/templates/includes/sidebar/coach_sidebar.html" %}
{% set profile_display_name = profile_doc.coach_name or user_doc.full_name or "" %}
{% set profile_email = profile_doc.coach_email or user_doc.email or "" %}

{% include "dashboard/templates/includes/profile/profile_body.html" %}
