{% include "dashboard/templates/includes/head/shared_head.html" %}

<link rel="stylesheet" href="/assets/dashboard/css/franchisor/franchisor.css?v=1">

<script src="/assets/dashboard/js/shared/clients.js?v=2"></script>
<script src="/assets/dashboard/js/shared/client_details.js?v=2"></script>
<script src="/assets/dashboard/js/shared/contacts.js?v=2"></script>
<script src="/assets/dashboard/js/shared/contact_details.js?v=2"></script>
<script src="/assets/dashboard/js/shared/calendar.js?v=1"></script>
<script src="/assets/dashboard/js/shared/calendar_details.js?v=1"></script>
<script src="/assets/dashboard/js/shared/notifications.js?v=2"></script>
<script src="/assets/dashboard/js/shared/notification_details.js?v=2"></script>
<script src="/assets/dashboard/js/shared/profile.js?v=1"></script>

<script src="/assets/dashboard/js/franchisor/dashboard_home.js?v=1"></script>
<script src="/assets/dashboard/js/franchisor/coach_details.js?v=1"></script>
<script src="/assets/dashboard/js/franchisor/coaches.js?v=1"></script>
<script src="/assets/dashboard/js/franchisor/session_worker_details.js?v=1"></script>
<script src="/assets/dashboard/js/franchisor/session_workers.js?v=1"></script>
<script src="/assets/dashboard/js/franchisor/invoice_details.js?v=1"></script>
<script src="/assets/dashboard/js/franchisor/invoices.js?v=1"></script>
