{% include "dashboard/templates/includes/head/shared_head.html" %}

<link rel="stylesheet" href="/assets/dashboard/css/franchisor/franchisor.css?v=1">

<script src="/assets/dashboard/js/shared/clients.js?v=2"></script>
<script src="/assets/dashboard/js/shared/client_details.js?v=2"></script>
<script src="/assets/dashboard/js/shared/contacts.js?v=2"></script>
<script src="/assets/dashboard/js/shared/contact_details.js?v=2"></script>
<script src="/assets/dashboard/js/shared/calendar.js?v=1"></script>
<script src="/assets/dashboard/js/shared/calendar_details.js?v=1"></script>
<script src="/assets/dashboard/js/shared/notifications.js?v=2"></script>
<script src="/assets/dashboard/js/shared/notification_details.js?v=2"></script>
<script src="/assets/dashboard/js/shared/profile.js?v=2"></script>
<script src="/assets/dashboard/js/shared/dashboard.js?v=2"></script>
<script src="/assets/dashboard/js/shared/invoices.js?v=1"></script>
<script src="/assets/dashboard/js/shared/invoice_details.js?v=2"></script>
<script src="/assets/dashboard/js/shared/session_workers.js"></script>
<script src="/assets/dashboard/js/shared/session_worker_details.js"></script>
<script src="/assets/dashboard/js/shared/coaches.js"></script>
<script src="/assets/dashboard/js/shared/leads.js?v=1"></script>
<script src="/assets/dashboard/js/shared/lead_details.js?v=1"></script>
