{% include "dashboard/templates/includes/head/shared_head.html" %}

<link rel="stylesheet" href="/assets/dashboard/vendor/leaflet/leaflet.css">
<script src="/assets/dashboard/vendor/leaflet/leaflet.js"></script>
<script src="/assets/dashboard/vendor/d3-delaunay/d3-delaunay.min.js"></script>

<script src="/assets/dashboard/js/shared/clients.js?v=3"></script>
<script src="/assets/dashboard/js/shared/client_details.js?v=5"></script>
<script src="/assets/dashboard/js/shared/contacts.js?v=3"></script>
<script src="/assets/dashboard/js/shared/contact_details.js?v=2"></script>
<script src="/assets/dashboard/js/shared/calendar.js?v=5"></script>
<script src="/assets/dashboard/js/shared/calendar_details.js?v=1"></script>
<script src="/assets/dashboard/js/shared/notifications.js?v=3"></script>
<script src="/assets/dashboard/js/shared/notification_details.js?v=4"></script>
<script src="/assets/dashboard/js/shared/profile.js?v=3"></script>
<script src="/assets/dashboard/js/shared/dashboard.js?v=4"></script>
<script src="/assets/dashboard/js/shared/invoices.js?v=2"></script>
<script src="/assets/dashboard/js/shared/invoice_details.js?v=5"></script>
<script src="/assets/dashboard/js/shared/session_workers.js"></script>
<script src="/assets/dashboard/js/shared/session_worker_details.js"></script>
<script src="/assets/dashboard/js/shared/coaches.js"></script>
<script src="/assets/dashboard/js/shared/leads.js?v=1"></script>
<script src="/assets/dashboard/js/shared/lead_details.js?v=1"></script>
<script src="/assets/dashboard/js/shared/availability.js?v=1"></script>
<script src="/assets/dashboard/js/shared/google_mail_connect.js?v=1"></script>
<script src="/assets/dashboard/js/shared/google_calendar_connect.js?v=1"></script>
<script src="/assets/dashboard/js/shared/reports.js?v=8"></script>
<script src="/assets/dashboard/js/shared/client_locations.js?v=2"></script>
<script src="/assets/dashboard/js/shared/portal_access.js?v=2"></script>
<script src="/assets/dashboard/js/shared/practice_documents.js?v=3"></script>
<script src="/assets/dashboard/js/shared/item_access.js?v=2"></script>
<script src="/assets/dashboard/js/shared/workshop_resources.js?v=2"></script>
