{% include "dashboard/templates/includes/head/shared_head.html" %}

<script src="/assets/dashboard/js/shared/clients.js?v=3"></script>
<script src="/assets/dashboard/js/shared/client_details.js?v=2"></script>
<script src="/assets/dashboard/js/shared/contacts.js?v=3"></script>
<script src="/assets/dashboard/js/shared/contact_details.js?v=2"></script>
<script src="/assets/dashboard/js/shared/calendar.js?v=4"></script>
<script src="/assets/dashboard/js/shared/calendar_details.js?v=1"></script>
<script src="/assets/dashboard/js/shared/notifications.js?v=3"></script>
<script src="/assets/dashboard/js/shared/notification_details.js?v=4"></script>
<script src="/assets/dashboard/js/shared/profile.js?v=2"></script>
<script src="/assets/dashboard/js/shared/dashboard.js?v=4"></script>
<script src="/assets/dashboard/js/shared/reports.js?v=8"></script>
<script src="/assets/dashboard/js/shared/supervision_booking.js?v=2"></script>
